<div class="box text-center">
  <h1>Stupid Coaching!</h1>

  <div class="container border border-3">
    <p><%=@question%></p>
    <p>- You</p>
  </div>

  <div class="container border border-3 mt-4">
    <p><%=@reply%></p>
    <p>- Your Coach</p>
  </div>

<%= link_to 'back', root_path %>

</div>
