<div class="d-flex justify-content-center text-center align-item-center mt-5 me-3">
  <h5>Ask your coach anything:</h5>
</div>

<div class="form d-flex justify-content-center text-center align-item-center mt-3">
<form action="/answer" data-turbo="false" method="get">
  <input type="text" class="border border-secondary border border-2" name="ask">
  <input type="submit" class="btn btn-primary border border-2" value="Ask!">
</form>
</div>
